APP_NAME=ocr-pinyin-api
APP_ENV=development
OCR_PROVIDER=google_vision
GOOGLE_APPLICATION_CREDENTIALS_JSON={"type":"service_account","project_id":"ocr-pinyin-mvp","private_key_id":"private_key_id","private_key":"private_key","client_email":"ocr-pinyin-mvp@ocr-pinyin-mvp.iam.gserviceaccount.com","client_id":"114361753046034214944","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/ocr-pinyin-mvp%40ocr-pinyin-mvp.iam.gserviceaccount.com","universe_domain":"googleapis.com"}
# Optional — only needed if not encoded in the credentials file:
# GOOGLE_CLOUD_PROJECT=your-project-id
